body{
    text-align: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

button{
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}


.title{
    font-size: 40px;
    font-weight: bold;
}

.main-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-box{
    margin: 8px;
}

.current-mode-display{
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: bold;
}

.row{
    display: flex;
}


.col{
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.controls{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 8px;
}

.clear-grid-button{
    background-color: rgb(255, 50, 50);
    color: white;
    border: none;
    border-radius: 8px;
}

.clear-grid-button:hover{
    background-color: rgb(255, 0, 0);
}


.select-grid-button{
    background-color: rgb(80, 80, 255);
    color: white;
    border: none;
    border-radius: 8px;
}

.select-grid-button:hover{
    background-color: rgb(0, 0, 255);
}

.chande-mode-button{
    background-image: linear-gradient(red,blue);
    border: none;
    border-radius: 8px;
    color: white;
}
.chande-mode-button:hover{
    background-image: linear-gradient(blue,red);
}

.chande-mode-button-black{
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
}

.footer{
}